<div class=" d-flex justify-content-center">
    <div>
        <div class="row">&nbsp;</div>
        <div class="card">
            <div class="card-header text-center alert alert-danger">
                <h2>Confirm Delete</h2>
            </div>
            <div class="container pt-3">
                <div class="card-body text-center">
                    <label class="" style="font-size:2em;">Do you really wish to delete <u>{{address.name}}</u>?</label>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-success float-right" style="margin:5px;" [routerLink]="'/locations'">Cancel</button>
                <button [disabled]="disabled" class="btn btn-danger float-right" style="margin:5px;" (click)="confirmDelete()">Delete</button>
            </div>
        </div>
    </div>
</div>